---
name: confirmation
url: /confirmation

---

<div class="grid-container">
  <h1 class="logo">3 Elements Chiropractic & Wellness, PLLC</h1>
  <p class="lead instruction">Request an appointment time online:</p>


  <!--Basic User Form Input Div -->
  <div class="grid-block">
    <div class="grid-container">
      <div class="basic-form">
        <p>Name:</p>
        <p>Birthday:</p>
        <p>Phone:</p>
        <p>Email:</p>

        <p>Provider:</p>
        <p>Appointment Type:</p>
        <p>First Choice:</p>
        <p>Second Choice:</p>
        <p>First Available:</p>

      </div>
    </div>
  </div>
  <!--End Basic User Form Input Div -->

  <!--Progress Bar Start -->
  <div class="grid-block">
    <progress class="high" value="100" max="100"></progress>
  </div>
  <!--End Progress Bar -->
  <div>
    <a class="button prev" ui-sref="appt-time">Prev</a>
    <a class="button next" ui-sref="" class="btn">Submit</a>
  </div>
</div>
