  <!--Basic User Form Input Div -->
  <div class="basic-form">


      <div class="form-group">
        <label for="firstname">First Name:</label>
        <input type="text" class="form-control" name="firstname" placeholder="Jane" data-ng-model="appointment.firstName">
      </div>

      <div class="form-group">
        <label for="lastname">Last Name:</label>
        <input type="text" class="form-control" name="lastname" placeholder="Doe" data-ng-model="appointment.lastName">
      </div>


      <div class="form-group">
        <label for="birthday">Birthday:</label>
        <input type="date" class="form-control" name="birthday" data-ng-model="appointment.birthday">
      </div>

      <div class="form-group">
        <label for="phonenumber">Phone:</label>
        <input type="tel" class="form-control" name="phonenumber" placeholder="555-555-5555" data-ng-model="appointment.phone">
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" name="email" placeholder="You@Email.com" data-ng-model="appointment.email">
      </div>


      <label for="email">Preferred Contact Method:</label>
        <div class="radio">
          <label>
            <input type="radio" name="method" value="Email" id="contactmethodemail" checked data-ng-model="appointment.contactPref">
            Email
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="method" value="Phone" id="contactmethodphone" checked data-ng-model="appointment.contactPref">
            Phone
          </label>
        </div>
      </div>


  </div>
  <!--End Basic User Form Input Div -->

  <!--Progress Bar Start -->
  <div class="progress">
    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="33.3" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
  </div>
  <!--End Progress Bar -->
  <div>
    <a class="btn btn-default disabled prev" >Prev</a>
    <a ui-sref="form.selectappointment" class="btn btn-default button next">Next</a>
  </div>
